table {
    position: relative;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width:50%;
    height: 0%;
    left: 25%;
    margin-top: 20px;;
    
  }
  
  td, th {
    border: 3px solid black;
    text-align: center;
    padding: 8px;
    text-shadow: 3px  3px rgb(107, 103, 112);
  }

  th{
    background-color: gray;
  }
  h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px  rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.vv {
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 3px rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .ee{
        color: aliceblue;
        box-sizing: border-box;
           margin-top: 0%;
        color: rgb(255, 255, 255);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-shadow: 3px 3px 3px rgb(170, 40, 40);
    }